body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

.pw-docs-brand {
    float: left;
}

.pw-docs-brand small {
    color: #777;
}

.pw-docs-nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.pw-docs-nav .navbar-header {
    float: none;
}

.pw-docs-nav a:hover {
    text-decoration: none;
}

.pw-docs-nav .logo {
    width: 30px;
    float:left;
    margin-top: -5px;
    margin-right: 8px;
}

.pw-docs-nav .navbar-toggle .icon-bar {
    background-color: #000000;
}

.pw-docs-nav .navbar-toggle {
    display: block;
    float: right;
}

.pw-docs-footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.pw-docs-content > .page-header:first-child {
    margin-top: 0;
}

.pw-docs-content > .page-header:first-child h2 {
    margin-top: 0;
}

.pw-nav {
}

.pw-nav li a {
    padding-left: 10px;
    padding-right: 10px;
}

.pw-nav .nav-header {
    padding-left: 0;
    padding-right: 0;
}

dt,
.pw-nav li span {
    padding: 3px 0px;
    margin: 9px 15px 0 15px;
    color: #999;
}

dd,
.pw-nav li a {
    padding: 3px 10px;
    margin: 0px 15px;
}

.jumbotron small {
    display: block;
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 56px;
}

.jumbotron h2 {
    font-size: 35px;
    color: #777;
}

.fullwidth-img {
  width: 100%;
  height: auto;
  max-width: 800px;
}
