//
// Creamy Theme
// --------------------------------------------------

$theme: (
    player-base:     #fefff3,
    player-contrast: #2d1a22,
    meta-base:       #fefff3,
    meta-contrast:   #2d1a22,
    accent-base:     #7b434f,
    accent-contrast: #fff
);
