//
// Dark Theme
// --------------------------------------------------

$theme: (
    player-base:     #000,
    player-contrast: #fff,
    meta-base:       #fcfcfc,
    meta-contrast:   #535353,
    accent-base:     #F94C0D,
    accent-contrast: #fff
);
