//
// Dark Theme
// --------------------------------------------------

$theme: (
    player-base:     #000,
    player-contrast: #fff,
    meta-base:       #888,
    meta-contrast:   blue,
    accent-base:     green,
    accent-contrast: #fff
);
