//
// Light Theme
// --------------------------------------------------
/*

$theme-light: (
    player-base: #fff,
    player-contrast: #000,
    meta-base: #fff,
    meta-contrast: #535353,
    accent-base: #425634,
    accent-contrast: #70905c
);
*/
