//
// Light Theme
// --------------------------------------------------

$theme: (
    player-base:     #fff,
    player-contrast: #000,
    meta-base:       #fff,
    meta-contrast:   #535353,
    accent-base:     #42478a,
    accent-contrast: #fff
);
