//
// Midnight Blue Color Scheme
// --------------------------------------------------

$theme: (
    player-base:     #2c3e50,
    player-contrast: #FBFCFC,
    meta-base:       #FBFCFC,
    meta-contrast:   #2c3e50, // == player-base
    accent-base:     #D14233,
    accent-contrast: #fff
);
