//
// Choose-a-good-name Color Scheme
// --------------------------------------------------

$theme: (
    player-base:     #FBFCFC,
    player-contrast: #2c3e50,
    meta-base:       #FBFCFC,
    meta-contrast:   #3D566E,
    accent-base:     #D14233,
    accent-contrast: #fff
);
