//
// Sound Controls and Actions
// --------------------------------------------------

.button-toggle {
  display: inline-block !important;
  height: 30px;
  width: 30px;
}
.pwp-icon-download { display: none !important; }
