//
// Labels and Badges
// --------------------------------------------------

// Badges
// ----------------------

.badge {
  height: 37px;
  min-width: 37px;
  padding: 2px 7px;
  font-weight: $font-weight-bolder;
  line-height: 31px;
  text-align: center;
  //color: black;
  color: $text-color;
  //background-color: $highlight-color;
  background-color: rgba(0, 135, 0, 0.27);
  white-space: nowrap;
  display: inline-block;
  @include border-radius(50%);

  &:hover {
    color: $white;
    background-color: $brand-primary;
  }
  &:active,
  &:focus {
    background-color: green;
    //background-color: $brand-primary;
  }
}
