//
// Progressbar
// --------------------------------------------------


// All HTML5 progress enabled browsers polyfill
// ----------------------------
progress,
progress[role] {

  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /* gets rid of default border in Firefox and Opera. */
  border: none;

  /* Needs to be in here for Safari polyfill so background images work as expected. */
  background-size: auto;

  /* Dimensions */
  width: 400px;
  height: 60px;

}

/* Polyfill */
progress[role]:after {
  background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
  display: none;
}

progress,                               /* Firefox  */
progress[role][aria-valuenow] {         /* Polyfill */
  background: $progress-bg !important;  /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: $gray;
}

// --------------------------------------------------

.progressbar {
  background-color: $progress-bg;
  width: 100%;
  height: 30px;
  .time {
    color: $contrasted-light-default;
    width: 20%;
    margin: 5px 15px;
  }
}


// Bar itself
// -------------------------

// Inner container for progress-meter
.progress {
  overflow: hidden;
  height: $progress-bar-height;
  background-color: $progress-bg;
  background-repeat: repeat-x;
  width: 70%;
}

// Bar of progress
.meter {
  float: left;
  width: 0%;
  height: 100%;
  font-size: $font-size-small;
  text-align: center;
  line-height: $line-height-computed;
  color: $progress-bar-color;
  background-color: $progress-bar-bg;
  background-repeat: repeat-x;
  box-sizing: border-box;
  transition: width 0.6s ease;
}
