@import "variables";

//
// Progressbar
// --------------------------------------------------

.progressbar {
  background-color: $progress-bg;
  span {
    color: $contrasted-light-default;
  }
}

// Bar itself
// -------------------------

// Outer container
.progress {
  overflow: hidden;
  height: $line-height-computed;
  //margin-bottom: $line-height-computed;
  background-color: $progress-bg;
  background-repeat: repeat-x;
}

// Bar of progress
.meter {
  float: left;
  width: 0%;
  height: 100%;
  font-size: $font-size-small;
  text-align: center;
  line-height: $line-height-computed;
  color: $progress-bar-color;
  background-color: $progress-bar-bg;
  background-repeat: repeat-x;
  box-sizing: border-box;
  transition: width 0.6s ease;
}
