//
// Theme
// --------------------------------------------------

.container {
  width: 100%;
  clear: both;
  display: block;
  position: relative;
  padding: 0;
  border: 0px solid black;
  &:after {
    content: ".";
    color: $white;
    font-size: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
    clear: both;
  }
  a {
    color: $link-color;
  }
  .podlovewebplayer_top {
    position: relative;
    display: block;
    background: $black;
    min-height: 100px;
    height: auto;
    padding-bottom: 5px;
    background: url(background.png);
    background: #545454;
    background: linear-gradient(to bottom,#545454 0%,#262626 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454',endColorstr='#262626',GradientType=0 );
  }
}

.container.podlovewebplayer_video .titlebar .togglebar {
  top: auto;
  bottom: -10px;
}


// Smaller Resolutions
@media only screen and (max-width : 500px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;

    .titlebar {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      .subtitle {
        position: initial;
        left: 10px;
        right: 10px;
      }
    }

    .tab {
      &.active {
        height: auto !important;
      }
      .button-toggle {
        margin: 4%;
        white-space: nowrap;
        span {
          font-size: 13pt;
        }
      }
    }

    .podlovewebplayer_top {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}