//
// Titlebar
// --------------------------------------------------

.titlebar {
  @include clearfix();
  @include flexbox();
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  width: 100%;
  background: $gray;
  min-height: 100px;
  height: auto;
  color: $white;

  header {
    @include flex(1 145px);
    @include order(2);
    margin: auto auto;
    padding: 0 16px;
    h2 {
      margin: 5px 0;

    }
    h3 {
      background: transparent !important;
      padding: 7px 10px 0 0;
      margin: 0;

      a {
        line-height: 20px !important;
      }
    }
    h4 {
      margin-bottom: 0;
    }
  }
}

.coverart {
  @include flex(0 $image-height);
  @include order(1);
  min-width: $image-width;
  height: $image-height;
  img {
    height: $image-height !important;
    width: auto !important;
  }
}

// Title of the Show
.showtitle {
  a {
    color: $link-color;
  }
}

// Description text of the episode
.subtitle {
  @include ellipsis;
  color: $gray-light !important;
  text-shadow: none !important;
  background: transparent !important;
  .summary .summarydiv {
    margin: 0px 5px;
  }
}

// Playbutton
.bigplay {
  @include iconfont-button($white);
  @include playbutton;
  @include flex(1 85px);
  @include order(3);
  min-width: 75px;
  position: relative;
  z-index: 78;
  padding: 5px 6px 10px 20px;
  margin: 33px;
  height: 75px;
  flex: 1;
  max-width: 76px;
}

.bigplay.playing {
  padding: 5px 11px 20px 15px;
  &:before {
    content: "\2389";
  }
  &:focus,
  &:hover,
  &:active {
    @include textshadows(0px 0px 10px #FFFFFF);
  }
}

.podlovewebplayer_smallplayer {
  .mejs-time-float {
    z-index: 100;
  }
  .bigplay {
    font-size: $font-size-icons;
    padding: 0 11px 19px 9px;
    height: 40px;
    width: 40px;
    margin: 10px;
    border: 4px solid #ffffff !important;
  }

  .bigplay.playing {
    padding: 0 13px 19px 5px;
    &:focus,
    &:hover,
    &:active {
      border: 4px solid white !important;
    }
  }

  .podlovewebplayer_top,
  .titlebar {
    min-height: 60px;
  }
}

