//
// Titlebar
// --------------------------------------------------

.podlovewebplayer_meta {
  padding: 5px 0;
  position: relative;
  display: block;
  background: $black;
  min-height: 100px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url(background.png);
  background: linear-gradient(to bottom,#545454 0%,#262626 100%);

  header {
    margin: 0 85px;
    width: 33%;
    h2 {
      margin: 5px 0;

    }
    h3 {
      background: transparent !important;
      padding: 7px 10px 0 0;
      margin: 0;

      a {
        line-height: 20px !important;
      }
    }
    h4 {
      margin-bottom: 0;
    }
  }
}

.coverart {
  //display: inline;
  width: 33%;
  img {
    position: relative !important;
    float: left !important;
    margin-top: 0px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
    margin-bottom: 10px !important;
    height: 75px !important;
    width: auto !important;
    max-width: 275px !important;
    top: 10px !important;
    left: 0px !important;
    right: auto !important;
    bottom: auto !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}

// Title of the Show
.showtitle {
  a {
    color: $link-color;
  }
}

// Description text of the episode
.subtitle {
  color: $gray-light !important;
  text-shadow: none !important;
  background: transparent !important;
  .summary .summarydiv {
    margin: 0px 5px;
  }
}

// Playbutton
.bigplay {
  font-family: $font-family-icons !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1.33em;
  speak: none;
  color: $white;
  background: transparent !important;
  float: right;
  position: relative;
  z-index: 78;
  border: 5px solid $white !important;
  border-radius: 60px !important;
  font-size: 42px;
  padding: 5px 6px 10px 20px;
  height: 75px;
  width: 75px;
  margin: 10px 10px 10px 10px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  &:before {
    content: "\25b6";
    padding-left: 0.02em;
  }
  &:focus,
  &:hover,
  &:active {
    border: 5px solid $white !important;
    border-radius: 60px !important;
    -webkit-text-shadow: 0px 0px 10px #FFFFFF;
    -moz-text-shadow: 0px 0px 10px #FFFFFF;
    -o-text-shadow: 0px 0px 10px #FFFFFF;
    text-shadow: 0px 0px 10px #FFFFFF;
  }
}

.bigplay.playing {
  padding: 5px 11px 20px 15px;
  &:before {
    content: "\2389";
  }
  &:focus,
  &:hover,
  &:active {
    border: 5px solid white !important;
    border-radius: 60px !important;
    -webkit-text-shadow: 0px 0px 10px #FFFFFF;
    -moz-text-shadow: 0px 0px 10px #FFFFFF;
    -o-text-shadow: 0px 0px 10px #FFFFFF;
    text-shadow: 0px 0px 10px #FFFFFF;
  }
}

.podlovewebplayer_smallplayer {
  .mejs-time-float {
    z-index: 100;
  }
  .bigplay {
    font-size: 25px;
    padding: 0 11px 19px 9px;
    height: 40px;
    width: 40px;
    margin: 10px 10px 0px 10px;
    border: 4px solid #ffffff !important;
  }

  .bigplay.playing {
    padding: 0 13px 19px 5px;
    &:focus,
    &:hover,
    &:active {
      border: 4px solid white !important;
    }
  }

  .podlovewebplayer_top,
  .podlovewebplayer_meta {
    min-height: 60px;
  }
}

