//
// Sound Controls and Actions
// --------------------------------------------------

// wrappers
.controlbar-wrapper {
  @include pwp-flexbox();
  background-color: $player-base-color;
}

.bar {
  // mobile first...mobile styling as default,
  // others are defined in media queries
  @include flex(1 100%);
  background: $controlbar-background;
  padding: 2px $padding-small-horizontal 4px;
  font-size: $font-size-mobile-icons;
  display: inline-block;
  @media screen and (min-width: $screen-phone) {
    @include flex(1 0%);
    width: auto;
    margin: 0;
    font-size: $font-size-icons;
    height: $controlbar-height;
    padding: 3px $padding-large-horizontal;
    border: none;
    @include transition(font-size 0.2s, ease);
  }
  ul {
    display: inline-block;
    li {
      width: 31%;
      &:last-of-type {
        width: 6%;
      }
    }
  }
  @media screen and (min-width: $screen-phone) {
    li {
      width: auto;
      @include transition(width 0.2s, ease);
    }
  }
  // General styles for list items in controlbar
  li {
    a {
      color: $controlbar-idle;
      &:hover {
        color: $controlbar-hover;
      }
      &:active {
        color: $controlbar-active;
      }
    }
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }
}
