//
// Base
// --------------------------------------------------

// Reset the box-sizing

*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links

a {
  color: $default-link-color;
  text-decoration: none;
  background: transparent;
  font-weight: $font-weight-bolder;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
    outline: none;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  font-weight: $font-weight-normal;
}

em {
  font-weight: $font-weight-bolder;
  font-size: $font-size-base;
}

// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

select {
  border-radius: 0px !important;
  background-image: none;
}
