//
// Buttons
// --------------------------------------------------

.button {
  @include iconfont-button($player-base-highlight-color);
  padding-right: 0.9em;
}

.button-toggle {
  display: inline;
  z-index: 78;
}

.icon-link,
.icon-twitter,
.icon-facebook {
  font-weight: normal;
}
.icon-twitter {
  font-size: 2.1em;
}

// Flat subscribe button with rounded corners
.button-submit {
  @include button-flat($accent-contrast-color, $accent-base-color);
  @include border-radius($border-radius-base);
  font-size:      $font-size-button-label;
  font-weight:    $font-weight-normal;
  padding:        11px;
  @include transition(ease);
  @include transition-delay(0s);
  @include transition-duration(0.3s);
  @include transition-property(all);
}

// Big Play/Pause-Button
.play {
  @extend .pwp-bigcontrol-play;
  color:         $player-idle-color;
  font-family:   $font-family-icons;
  font-size:     $play-button-size;
  max-width:     $play-button-size;
  line-height:   $play-button-size;
  margin:        $play-button-margin $margin-base-horizontal $play-button-margin 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: $screen-desktop) {
    font-size:   $play-button-size-big ;
    max-width:   $play-button-size-big;
    line-height: $play-button-size-big;
    margin:      $play-button-margin-big $margin-base-horizontal $play-button-margin-big 0;
  }
  &:hover {
    @include textshadows(0px 0px 3px $player-hover-color);
    color:       $player-hover-color;
  }
  &:active {
    @include textshadows(0px 0px 8px $player-active-color);
    color:       $player-active-color;
  }
  &.playing {
    @extend .pwp-bigcontrol-pause;
    color:       $player-active-color;
  }
}

button {
  -moz-appearance:    none;
  -webkit-appearance: none;
  border:             none;
}
