//
// Buttons
// --------------------------------------------------

.button {
  @include iconfont-button($white);
  padding-right: 0.5em;
}

.button-toggle {
  display: inline;
  z-index: 78;
  font-size: 25px;
}

.icon-link,
.icon-twitter,
.icon-facebook {
  font-weight: normal;
}
.icon-twitter {
  font-size: 2.1em;
}

// Flat subscribe button with rounded corners
.button-subscribe {
  @include button-flat($white, $brand-primary);
  @include border-radius($border-radius-base);
  font-size: $font-size-button-label;
  font-weight: $font-weight-normal;
  padding: 11px;
  @include transition(ease);
  @include transition-delay(0s);
  @include transition-duration(0.3s);
  @include transition-property(all);
}
