//
// Controlbar
// --------------------------------------------------
// Wrapper for audio controls and tabs-icons
.controlbar {
  // mobile styling as default,
  // others are defined in media queries
  @extend .bar;
  @include order(1);
  border-bottom: 1px solid transparent;
  margin-bottom: 1px;
  height: $controlbar-height + $padding-base-vertical;

  @media screen and (min-width: $screen-phone) {
    border-bottom: none;
    margin-bottom: 0;
  }
  @media screen and (min-width: $screen-tablet-portrait) {
    height: $controlbar-height;
  }
  // A list with all audio control elements
  .timecontrolbar {
    width: 100%;
    position: initial;
    margin: 0;
    padding-right: $padding-small-horizontal;
    @media screen and (min-width: $screen-phone) {
      height: auto;
      float: right;
      margin: 0;
      padding-right: 0;
      li {
      width: 31%;
        &:last-of-type {
          width: 6%;
        }
      }
      a {
        padding-left: 0;
        @media screen and (min-width: $screen-phone) {
          padding-left: 0.9em;
          padding-right: 0;
        }
      }
    }
    @media screen and (min-width: $screen-phone) {
      @include order(2);
      height: 100%;
      width: auto;
      margin: 0;
      li {
        width: auto;
      }
    }
  }
}
