//
// Footer within tabs
// --------------------------------------------------

.tab footer .license-area {
  border-top: 16px solid $white;
  margin: 0;
  padding: $padding-large-vertical $padding-base-horizontal;
}
