@charset "UTF-8";
//
// Progressbar
// --------------------------------------------------

// All HTML5 progress enabled browsers polyfill
// ----------------------------

/********** 1. Turn off default styling ***************/
progress,
progress[role] {
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /* gets rid of default border in Firefox and Opera. */
  border: none;

  /* Needs to be in here for Safari polyfill so background images work as expected. */
  background-size: auto;

  width: 400px;
  height: 16px;

}

/* Polyfill */
progress[role]:after {
  background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
  display: none;
}

/********** 2. The Progress Bar Background ***************/

progress,                               /* Firefox  */
progress[role][aria-valuenow] {         /* Polyfill */
  background: $progress-bar-bg !important;  /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: $progress-bar-bg;
}

/********** 3. The Progress Bar Value ***************/

/* IE10 */
progress {
  color: $progress-bar-color;
}

/* Firefox */
progress::-moz-progress-bar {
  background: $progress-bar-color;
}

/* Chrome */
progress::-webkit-progress-value {
  background: $progress-bar-color;
}

/* Polyfill */
progress[aria-valuenow]:before  {
  background: $progress-bar-color;
}


// Metrics of Bar Container and Text
// ---------------------------------

.progressbar {
  color: $contrasted-light-default;
  background-color: $progress-bg;
  width: 100%;
  height: $progress-height;
  font-weight: $font-weight-lighter;
  .progress-info {
    @include pwp-flexbox();
    width: 100%;
    height: $progress-height / 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    div {
      display: inline-block;
    }
    .chapter {
      @include flex(1 0px);
      @include order(2);
      height: 100%;

      // > 360px
      @media all and (max-width: $screen-tiny-phone) {
        @include flex(1 0px);
        @include order(2);
      }
    }
    .badge {
      line-height: 33px;
      display: block;
      float: left;
      margin-top: 0.77em;
      color: $contrast-default-color;
      background-color: $gray;

      // > 768px
      @media all and (max-width: $screen-tablet) {
        font-size: $font-size-small;
        line-height: 32px;
        min-width: 33px;
        height: 33px;
        padding: 0;
        margin-top: 14px;
      }

    }
    .chapter-title {
      display: block;
      padding: 19px 20px 0 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: $font-weight-bolder;
    }
  }
  .time {
    font-family: $font-family-monospace;
    padding-top: 20px;
    height: 100%;
    vertical-align: middle;

    // > 768px
    @media all and (max-width: $screen-tablet) {
      font-size: $font-size-small;
      padding-top: 22px;
    }

    &:first-of-type {
      @include flex(0 104px);
      @include order(1);
      padding-left: $padding-base-horizontal;
      text-align: left;
      color: $progress-bar-time-current;

      @media all and (max-width: $screen-tablet-portrait) {
        padding-left: $padding-small-horizontal !important;
      }
      // 360px ≤ x ≥ 550px
      @media all and (max-width: $screen-tablet-portrait) {
        @include flex(0 76px);
        @include order(1);
      }
      // > 768px
      @media all and (min-width: $screen-tablet-portrait) and (max-width: $screen-tablet) {
        @include flex(0 91px);
        @include order(1);
      }
    }
    &:last-of-type {
      @include flex(0 95px);
      @include order(3);
      padding-right: $padding-base-horizontal;
      text-align: right;
      color: $progress-bar-time-duration;
      @media all and (max-width: $screen-tablet-portrait) {
        padding-right: $padding-small-horizontal !important;
      }
      // > 768px
      @media all and (max-width: $screen-tablet) {
        @include flex(0 91px);
      }
    }
  }
}


// Metrics of the Bar itself
// -------------------------

.progress {
  margin: 0 auto;
  position: relative;
  .current {
    width: 100%;
    height: $progress-bar-height;
    background-repeat: repeat-x;
    margin: 0 auto;
    position: absolute;
    top: 12px;
    left: 0;
  }
  &:hover {
    .inner-handle {
      @include transition(width 0.3s, left 0.3s, transform 0.2s, ease);
      width: $progress-bar-height;
      left: -2px;
    }
  }
}



.buffer {
  top: $progress-bar-height + 16px;
  left: 0;
  position: absolute;
  width: 100%;
  height: $buffer-height;
  background-repeat: repeat-x;
  margin: 0 auto;
}

.handle {
  display: block;
  position: absolute;
  top: 12px;
  margin-left: - ($progress-bar-height /2);
  background: transparent;
  height: $progress-bar-height;
  width: $progress-bar-height;
  z-index: 100;
  .inner-handle {
    background: white;
    height: $progress-bar-height;
    width: $handle-width;
    position: absolute;
    top: 0;
    left: ($progress-bar-height/2) - ($handle-width/2);
    z-index: 101;
    transform: scale(1, 1);
    @include transition(width 0.3s, left 0.3s, transform 0.1s, ease);
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}
