@charset "UTF-8";
//
// Progressbar
// --------------------------------------------------

// All HTML5 progress enabled browsers polyfill
// ----------------------------

/********** 1. Turn off default styling ***************/
progress,
progress[role] {
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /* gets rid of default border in Firefox and Opera. */
  border: none;

  /* Needs to be in here for Safari polyfill so background images work as expected. */
  background-size: auto;

  width: 400px;
  height: 16px;

}

/* Polyfill */
progress[role]:after {
  background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
  display: none;
}

/********** 2. The Progress Bar Background ***************/

progress,                               /* Firefox  */
progress[role][aria-valuenow] {         /* Polyfill */
  background: $progress-bar-bg !important;  /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: $progress-bar-bg;
}

/********** 3. The Progress Bar Value ***************/

/* IE10 */
progress {
  color: $progress-bar-color;
}

/* Firefox */
progress::-moz-progress-bar {
  background: $progress-bar-color;
}

/* Chrome */
progress::-webkit-progress-value {
  background: $progress-bar-color;
}

/* Polyfill */
progress[aria-valuenow]:before  {
  background: $progress-bar-color;
}


// Metrics of Bar Container and Text
// ---------------------------------

.progressbar {
  color: $player-base-highlight-color;
  background-color: $progress-bg;
  width: 100%;
  height: $progress-wrapper-height;
  font-weight: $font-weight-light;
  // Height of progress wrapper on small screens
  @media screen and (max-width: $screen-phone) {
    height: $progress-wrapper-height-mobile;
  }
  .progress-info {
    @include pwp-flexbox();
    width: 100%;
    height: $progress-wrapper-height / 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    div {
      display: inline-block;
    }
    .chapter {
      @include flex(1 0px);
      @include order(2);
      height: 100%;

      // > 360px
      @media all and (max-width: $screen-tiny-phone) {
        @include flex(1 0px);
        @include order(2);
      }
    }
    .badge {
      display: block;
      float: left;
      margin-top: 8px;
      color: $player-base-highlight-color;
      background-color: $player-contrast-color;
      @media all and (min-width: $screen-desktop) {
        margin-top: 5px;
      }
    }
    .chapter-title {
      display: block;
      padding: 11px 20px 0 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: $font-weight-bold;
    }
  }
  .time {
    font-family: $font-family-monospace;
    font-weight: $font-weight-normal;
    padding-top: 12px;
    height: 100%;
    vertical-align: middle;

    // > 768px
    @media all and (max-width: $screen-tablet) {
      font-size: $font-size-small;
      padding-top: 12px;
    }

    &:first-of-type {
      @include flex(0 104px);
      @include order(1);
      padding-left: $padding-base-horizontal;
      text-align: left;
      color: $progress-bar-time-current;

      @media all and (max-width: $screen-phone) {
        @include flex(0 76px);
        padding-left: $padding-small-horizontal !important;
      }
      @media all and (min-width: $screen-desktop) {
        @include flex(0 150px);
      }
    }
    &:last-of-type {
      @include flex(0 95px);
      @include order(3);
      padding-right: $padding-base-horizontal;
      text-align: right;
      color: $progress-bar-time-duration;
      @media all and (max-width: $screen-phone) {
        padding-right: $padding-small-horizontal !important;
      }
      // > 768px
      @media all and (max-width: $screen-tablet) {
        @include flex(0 91px);
      }
      @media all and (min-width: $screen-desktop) {
        @include flex(0 150px);
      }
    }
  }
}

// Metrics of the Bar itself
// -------------------------

.progress {
  margin: 0 auto;
  position: relative;
  .current {
    width: 100%;
    height: $progress-bar-height;
    background-repeat: repeat-x;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    // Height of the progressbar on small screens
    @media screen and (max-width: $screen-phone) {
      height: $progress-bar-height-mobile;
    }
  }
  &:hover {
    .inner-handle {
      @include transition(width 0.3s, left 0.3s, transform 0.2s, ease);
      width: $progress-bar-height;
      left: -2px;
    }
  }
}

.buffer {
  top: $progress-bar-height + 3px;
  left: 0;
  position: absolute;
  width: 100%;
  height: $buffer-height;
  background-repeat: repeat-x;
  margin: 0 auto;
  // Position of the buffer on small screens
  @media screen and (max-width: $screen-phone) {
    top: $progress-bar-height-mobile + 6px;
    height: $buffer-height * 2;
  }
}

.handle {
  display: block;
  position: absolute;
  top: 0;
  margin-left: - ($progress-bar-height /2);
  background: transparent;
  height: $progress-bar-height;
  width: $progress-bar-height;
  z-index: 100;
  // Dimensions of the scrubber/handle on small screens
  @media screen and (max-width: $screen-phone) {
    height: $progress-bar-height-mobile;
  }
  .inner-handle {
    background: $handle-color;
    height: $progress-bar-height;
    width: $handle-width;
    position: absolute;
    top: 0;
    left: ($progress-bar-height/2) - ($handle-width/2);
    z-index: 101;
    transform: scale(1, 1);
    @include transition(width 0.3s, left 0.3s, transform 0.1s, ease);
    &:hover {
      transform: scale(1.0, 1.5);
    }
    // Dimensions of the scrubber/handle on small screens
    @media screen and (max-width: $screen-phone) {
      height: $progress-bar-height-mobile;
      &:hover {
        transform: scaleY(1.3);
      }
    }
  }
}
