//
// Progressbar to display a buffering state
// --------------------------------------------------


// Bar animations
// -------------------------

// WebKit
@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 30px 0; }
  to    { background-position: 30px 0; }
}

// Firefox
@-moz-keyframes progress-bar-stripes {
  from  { background-position: 30px 0; }
  to    { background-position: 0 0; }
}

// Opera
@-o-keyframes progress-bar-stripes {
  from  { background-position: 0 0; }
  to    { background-position: 30px 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
  from  { background-position: 30px 0; }
  to    { background-position: 0 0; }
}
