//
// Metadata Tabs
// --------------------------------------------------
$tab-height: 400px;
$tab-header-height: 45px;

.tabs {
  color: $text-color;
  background-color: $tab-background-color;
  a {
    color: $default-link-color;
    &:hover,
    &:focus {
      color: $brand-primary-hover;
    }
    &:active {
      color: $brand-primary-active;
    }
    &.button-toggle {
      color: $text-color;
    }
  }

  > section {
    padding: 0;
    line-height: 1.5;
    overflow-y: scroll;
  }

  p {
    margin: 11px $margin-base-horizontal;
  }

  .tab {
    display: none;

    // A hack for flexbox-layout:
    // without 'padding:1px' for flexing elements ("@include flex"),
    // those elements won't be displayed!
    & > header, > div, > aside, > footer {
      padding: 1px;
    }

    &.active {
      @include pwp-flexbox();
      height: $tab-height;
      width: 100%;
    }
  }
  dt, dd {
    @extend .pull-left;
    display: inline-block;
    margin: 0 $margin-base-horizontal 15px;
  }

  dt {
    clear: both;
    margin-right: $margin-base-horizontal;
    width: 36%;
    max-width: 160px;
  }
  dd {
    width: 30%;
    max-width:70px;
  }
  header {
    @include flex(1 100%);
    @include order(1);
    margin: $margin-base-vertical 0 $margin-base-vertical/3 0;
    width: 100%;
    height: $tab-header-height;
  }
  .tab-headline {
    font-weight: 300;
  }
  h2 {
    margin: 0 $margin-base-horizontal;
    padding: 5px 0;
    i {
      padding-right: 10px;
    }
  }
  h3,
  h4 {
    margin: 20px $margin-base-horizontal;
  }
  .main {
    width: 100%;
    min-height: $tab-height - $tab-header-height - 4;
    @include flex(1 100%);
    @include order(2);
  }
  footer {
    @include flex(1 100%);
    @include order(3);
    text-align: center;
    background-color: $gray-lightest;
    border: 1px solid white !important;
  }
}

.tab {
  @media all and (max-width: $screen-tablet-portrait) {
    header {
      margin: 0;
    }
    h2,
    h3,
    h4,
    p {
      margin: $margin-small-vertical $margin-small-horizontal;
    }
    h2 {
      font-size: $font-size-small-h2;
    }
  }
}


// Video Player
.container.podlovewebplayer_video .tab {
  margin-top: 0px;
}

.podlovewebplayer_video .summary,
.podlovewebplayer_video.container .tab {
  margin-top: 0px;
}

.podlovewebplayer_top {
  min-height: 11px !important;
  height: 11px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}


