//
// Metadata Tabs
// --------------------------------------------------
$tab-max-height:           500px;
$tab-header-height:         70px;
$tab-header-height-mobile:  50px;

.tabs {
  color: $tab-color;
  background-color: $tab-background;
  position: relative;

  a {
    color: $tab-link-color;
    &:hover,
    &:focus {
      color: $tab-hover-color;
    }
    &:active {
      color: $tab-active-color;
    }
    &.button-toggle {
      color: $tab-idle-color;
    }
  }

  > section {
    padding: 0;
    line-height: 1.5;
    overflow-y: scroll;
  }

  p {
    margin: 0 $margin-base-horizontal;
  }

  .tab {
    display: none;
    // A hack for flexbox-layout:
    // without 'padding:1px' for flexing elements ("@include flex"),
    // those elements won't be displayed!
    & > header, > div, > aside {
      padding: 1px;
    }
    &.active {
      @include pwp-flexbox();
      height: auto;
      max-height: $tab-max-height;
      width: 100%;
      border-top: 0;
      border-right: 1px solid $tab-active-border;
      border-bottom: 1px solid $tab-active-border;
      border-left: 1px solid $tab-active-border;
      header {
        border-right: 1px solid $tab-active-border;
        border-left: 1px solid $tab-active-border;
      }
    }
  }
  dt, dd {
    @extend .pull-left;
    display: inline-block;
    margin: 0 $margin-base-horizontal 15px;
  }

  dt {
    clear: both;
    margin-right: $margin-base-horizontal;
    width: 36%;
    max-width: 160px;
  }
  dd {
    width: 30%;
    max-width:70px;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $meta-base-color;
    padding: $padding-large-vertical 0 0 0 !important;
    width: 100%;
    height: $tab-header-height;
    @media screen and (max-width: $screen-phone) {
      padding: $padding-base-vertical 0 0 0 !important;
      height: $tab-header-height-mobile;
    }
  }
  .tab-headline {
    font-weight: $font-weight-light;
    font-size: $font-size-small-h2;

    @media screen and (min-width: $screen-tablet) {
      font-size: floor($font-size-h2 * 1.14);
    }
  }
  h2 {
    font-size: $font-size-small-h2;
    margin: 0 $margin-base-horizontal;
    @media screen and (min-width: $screen-tablet) {
      font-size: $font-size-h2;
    }
    i {
      padding-right: 10px;
    }
  }
  h3,
  h4 {
    margin: 20px $margin-base-horizontal;
  }
  .main {
    width: 100%;
    @include flex(1 100%);
    @include order(2);
    // Offset for fixed header
    margin-top: $tab-header-height;
    margin-bottom: $margin-base-horizontal;

    @media screen and (max-width: $screen-phone) {
      margin-top: $tab-header-height-mobile;
    }
  }
  .aside {
    margin-bottom: $margin-base-horizontal;
  }
}

.tab {
  @media all and (max-width: $screen-phone) {
    header {
      margin: 0;
    }
    h2,
    h3,
    h4,
    p {
      margin: $margin-small-vertical $margin-small-horizontal;
    }
  }
}

.scrolled {
  @include box-shadow(0px 6px 7px -4px $black);
}
