//
// Theme
// --------------------------------------------------

.container {
  width: 100%;
  clear: both;
  display: block;
  position: relative;
  padding: 0;
  border: 0px solid transparent;
  a {
    color: $default-link-color;
  }
}

// Contrast color scheme
.contrast {
  a {
    color: $contrast-link-color;
  }
}
