//
// Theme
// --------------------------------------------------

.container {
  width: 100%;
  clear: both;
  display: block;
  position: relative;
  padding: 0;
  border: 0px solid black;
  &:after {
    content: ".";
    color: $white;
    font-size: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
    clear: both;
  }
  a {
    color: $default-link-color;
  }


  .podlovewebplayer_top {
    position: relative;
    display: block;
    background: $black;
    min-height: 100px;
    height: auto;
    padding-bottom: 5px;
    background: url(background.png);
    background: #545454;
    background: linear-gradient(to bottom,#545454 0%,#262626 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454',endColorstr='#262626',GradientType=0 );
  }
}

// Contrast color scheme
.contrast {
  a {
    color: $contrast-link-color;
  }
}

.container.podlovewebplayer_video .titlebar .togglebar {
  top: auto;
  bottom: -10px;
}
