//
// Theme
// --------------------------------------------------

.container {
  width: 100%;
  clear: both;
  display: block;
  position: relative;
  padding: 0;
  border: 0px solid black;
  &:after {
    content: ".";
    color: $white;
    font-size: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
    clear: both;
  }
  a {
    color: $default-link-color;
  }
}

// Contrast color scheme
.contrast {
  a {
    color: $contrast-link-color;
  }
}
