//
// Titlebar
// --------------------------------------------------

.titlebar {
  @include clearfix();
  @include flexbox();
  width: 100%;
  background: $gray;
  min-height: 100px;
  height: auto;
  color: $white;

  header {
    //@include flex(1 145px);
    //@include flex(1 100%);
    @include order(2);
    margin: auto auto;
    padding: 0 16px;

    @media all and (min-width: $screen-xxs) {
      @include flex(1 100%);
      @include order(3);
    }
    @media all and (min-width: $screen-xs) {
      @include flex(1 100%);
      @include order(3);
    }
    @media all and (min-width: $screen-xs) {
      //@include flex(1 100%);
      @include order(3);
    }
    @media all and (min-width: $screen-md) {
      @include flex(2 0px);
      @include order(2);
    }
  }
}

.coverart {
  //@include flex(0 $title-image-height);
  @include flex(1 100%);
  @include order(1);
  min-width: $title-image-width;
  height: $title-image-height;

  @media all and (min-width: 100px){
    @include flex(1 0px);
    @include order(1);
  }
  @media all and (min-width: $screen-xxs){
    @include flex(1 0px);
    @include order(1);
  }
  @media all and (min-width: $screen-xs) {
    //@include flex(1 100%);
    @include order(1);
  }
  @media all and (min-width: $screen-sm) {
    @include order(1);
  }
  @media all and (min-width: $screen-md) {
    @include order(1);
  }
  img {
    height: $title-image-height;
    width: auto !important;
  }
}

.showtitle {
  margin: 0;
  a {
    color: $link-color;
  }
}

.episodetitle {
  margin: 10px 0;
  a {
    line-height: 20px !important;
  }
}

// Description text of the episode
.subtitle {
  @include ellipsis;
  margin: 0;
  text-shadow: none !important;
  background: transparent !important;
  font-weight: $font-weight-lighter;
  font-size: $font-size-large;
  opacity: 0.6;
  .summary .summarydiv {
    margin: 0px 5px;
  }
}

// Playbutton
.bigplay {
  @include iconfont-button($white);
  @include playbutton;
  //@include flex(1 85px);
  @include flex(1 100%);
  @include order(3);
  min-width: 75px;
  position: relative;
  z-index: 78;
  padding: 5px 6px 10px 20px;
  margin: 33px;
  height: 74px;
  flex: 1;
  max-width: 76px;
  @media all and (min-width: $screen-xxs) {
    @include flex(1 0px);
    @include order(2);
  }
  @media all and (min-width: $screen-xs) {
    //@include flex(1 100%);
    @include order(2);
  }
  @media all and (min-width: $screen-sm) {
    @include order(2);
  }
  @media all and (min-width: $screen-md) {
    @include order(3);
  }
}

.bigplay.playing {
  padding: 5px 11px 20px 15px;
  &:before {
    content: "\2389";
  }
  &:focus,
  &:hover,
  &:active {
    @include textshadows(0px 0px 10px #FFFFFF);
  }
}
