//
// Titlebar
// --------------------------------------------------

.titlebar {
  @include clearfix();
  @include pwp-flexbox();
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  width: 100%;
  background: $gray;
  min-height: 100px;
  height: auto;
  color: $white;

  header {
    @include flex(1 145px);
    @include order(2);
    margin: auto auto;
    padding: 0 16px;
  }
}

.coverart {
  @include flex(0 $image-height);
  @include order(1);
  min-width: $image-width;
  height: $image-height;
  img {
    height: $image-height !important;
    width: auto !important;
  }
}

.showtitle {
  margin: 0;
  a {
    color: $link-color;
  }
}

.episodetitle {
  margin: 10px 0;
  a {
    line-height: 20px !important;
  }
}

// Description text of the episode
.subtitle {
  @include ellipsis;
  margin: 0;
  text-shadow: none !important;
  background: transparent !important;
  font-weight: $font-weight-lighter;
  font-size: $font-size-large;
  opacity: 0.6;
  .summary .summarydiv {
    margin: 0px 5px;
  }
}

// Playbutton
.bigplay {
  @include iconfont-button($white);
  @include playbutton;
  @include flex(1 85px);
  @include order(3);
  min-width: 75px;
  position: relative;
  z-index: 78;
  padding: 5px 6px 10px 20px;
  margin: 33px;
  height: 74px;
  flex: 1;
  max-width: 76px;
}

.bigplay.playing {
  padding: 5px 11px 20px 15px;
  &:before {
    content: "\2389";
  }
  &:focus,
  &:hover,
  &:active {
    @include textshadows(0px 0px 10px #FFFFFF);
  }
}
