//
// Tabbed menu for 'tabs' content
// --------------------------------------------------

.togglebar {
  // mobile styling as default,
  // others are defined in media queries
  @extend .bar;
  @include order(2);
  height: auto;
  float: none;
  @media screen and (min-width: $screen-phone) {
    @include order(1);
    height: auto;
    min-height: $controlbar-height;
    ul {
      margin-bottom: 0;
    }
  }
  // General styling for tab list
  .tablist {
    display: table;
    margin-bottom: 0;
    li {
      display: table-cell;
      width: 32px !important;
    }
    a {
      padding-right: 0.9em;
    }
  }
  // Highlight for the active list item (icon 'button' above the active tab)
  li.active {
    a {
      @include textshadows(0px 0px 1px $icon-shadow);
      filter: alpha(opacity=100);
      color: $icon-active-color;
      zoom: 1;
    }
    // Arrow, that indicates the active tab
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: $controlbar-height + 4px - $controlbar-active-triangle-size;
      left: ($font-size-mobile-icons/2) - $controlbar-active-triangle-size * 1.3;
      border-left: $controlbar-active-triangle-size * 1.3 solid transparent;
      border-right: $controlbar-active-triangle-size * 1.3 solid transparent;
      border-bottom: $controlbar-active-triangle-size * 1.3 solid $meta-base-color;

      @media screen and (min-width: $screen-phone)  {
        top: $controlbar-height - 3px - $controlbar-active-triangle-size;
        left: ($font-size-icons/2) - $controlbar-active-triangle-size;
        border-left: $controlbar-active-triangle-size solid transparent;
        border-right: $controlbar-active-triangle-size solid transparent;
        border-bottom: $controlbar-active-triangle-size solid $meta-base-color;
      }
    }
  }
}
