//
// Typography
// --------------------------------------------------

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

// Body text
// -------------------------

.break-all {
  hyphens: auto;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
}

p {
  margin:      0 0 ($line-height-computed / 2);
  font-weight: $font-weight-normal;
  @extend .break-all;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  color:       $headings-color;
  @extend .break-all;
}

h1, h2,
h1 a, h2 a {
  font-weight: $headings-font-weight-bold;
}

h3, h4, h5, h6,
h3 a, h4 a, h5 a {
  font-weight: $headings-font-weight-normal;
}

h1, h2, h3 {
  margin-top: $line-height-computed;
}
h4, h5, h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

a {
  font-weight: $font-weight-bold;
}

em {
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
}

button {
  font-weight: $font-weight-bold;
}
