{
  "presets": ["es2015"],
  "plugins": ["lodash", "transform-runtime"],
  "env": {
    "AVA": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          { "config": "src/webpack.config.js" }
        ]
      ]
    }
  }
}
