{
  "presets": [
    "bluebird", ["es2015", { "loose": true, "modules": false }]
  ],
  "plugins": ["lodash"],
  "env": {
    "AVA": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          { "config": "src/webpack.config.js" }
        ]
      ]
    }
  }
}
