# dotfiles
.*
!.gitignore
!.jshintrc
!.eslintrc
!.editorconfig
!.travis.yml
!.babelrc
!.circleci
!.vuepress
!.prettierrc

coverage

# external dependencies
node_modules
bower_components

# OS and editor artefacts
*Thumbs.db
atlassian-ide-plugin.xml

# build artefacts
_site
dist
coverage
reports
docs/media
gh-pages-branch

# logs
yarn-error.log
