# dotfiles
.*
!.gitignore
!.jshintrc
!.eslintrc
!.editorconfig
!.travis.yml
!.babelrc

# external dependencies
node_modules
bower_components

# OS and editor artefacts
*Thumbs.db
atlassian-ide-plugin.xml

# build artefacts
_site
dist
coverage
