  <tr class="chapter{#if number % 2} oddchapter{/if}">
    <td class="chapter-number"><span class="badge">{{number}}</span></td>
    <td class="chapter-name"><span>{{title}}</span></td>
    <td class="chapter-duration"><span>{{duration}}</span></td>
  </tr>
