<div class="progressbar">
  <div class="progress">
    <progress class="current" min="0" max="{{duration}}"></progress>
    <progress class="buffer" min="0" max="{{duration}}"></progress>
    <div class="handle"><div class="inner-handle"></div></div>
  </div>
</div>
