.mejs-container {
	min-height: 30px;
}

.mediaelementjs_player_container {
	clear: both;
	position: relative;
	padding-bottom: 1.5em;
}

.mediaelementjs_player_container:after {
	content: ".";
	color: #fff;
	font-size: 1px;
	height: 1px;
	display: block;
	overflow: hidden;
	clear: both;
}

.mediaelementjs_player_container .pwp_chapters {
	display: none; /* only show if js works */
	margin-bottom: 0!important;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.mediaelementjs_player_container .pwp_chapters thead,
.mediaelementjs_player_container .pwp_chapters caption {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.mediaelementjs_player_container .pwp_chapters tr.active {
	background: whiteSmoke;
}

.mediaelementjs_player_container .pwp_chapters tr td {
	padding: 6px;
}