//
// Fonts
// --------------------------------------------------

@font-face {
  font-family: pwpfont;
  text-rendering: optimizeLegibility;
  src: url("../font/podlovefont.eot?62787671");
  src: url("../font/podlovefont.eot?62787671#iefix") format("embedded-opentype"),
  url("../font/podlovefont.woff?62787671") format("woff"),
  url("../font/podlovefont.ttf?62787671") format("truetype"),
  url("../font/podlovefont.svg?62787671#pwpfont") format("svg");
  font-weight: normal !important;
  font-style: normal !important;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pwpfont';
    src: url('../font/podlovefont.svg?62787671#pwpfont') format('svg');
  }
}
*/