@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,400i,500');

@mixin font() {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

@mixin font-monospace() {
  font-family: 'Roboto Mono', monospace;
}

.podlove {
  font-size: 14px;
  font-weight: 300;
}