@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500|Fira+Mono');

@mixin font() {
  font-family: 'Fira Sans', sans-serif;
}

@mixin font-monospace() {
  font-family: 'Fira Mono', monospace;
}

.podlove {
  font-size: 14px;
  font-weight: 300;
}
