html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
