@import 'variables';
@import 'utils';
@import 'font';

$input-height: 35px;
$input-highlight-height: 1em;
$share-width: 80px;
$slider-button-size: 35px;

.input-element {
  margin-bottom: $margin;
  padding: 0 $padding $padding $padding;

  .input-label {
    margin-bottom: $margin / 2;
  }
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin / 2;
}

.input-label {
  height: 100%;
  display: block;
  font-weight: 500;
}

.input-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $input-height;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  opacity: 1;

  @include font();
  font-size: 1.1em;
  font-variant: small-caps;

  &:hover {
    opacity: 0.8;
  }
}

.input-checkbox {
  line-height: 1em;
}

.slider-button {
  font-weight: bold;
  font-size: 1.2em;
  height: $slider-button-size;
  width: $slider-button-size;
  margin-right: $margin / 2;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

