@import 'variables';
@import 'utils';

$input-group-height: 35px;
$input-height: 25px;
$input-secondary-height: 1em;
$addon-button-width: 40px;
$share-width: 80px;
$slider-button-size: 35px;

.input-element {
  padding: $padding;

  .title {
    margin: ($margin / 2) 0;
  }
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin / 2;
}

.input-text {
  display: inline-block;
  resize: none;
  padding: $padding / 4;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  height: $input-height;
}

.input-label {
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}

.input-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $input-group-height;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  opacity: 1;
  font-size: 0.9em;
  &:hover {
    opacity: 0.8;
  }
}

.input-group {
  .input-text {
    padding: $padding / 2;
    width: calc(100% - #{$addon-button-width});
    border-radius: 0 3px 3px 0;
    font-size: 1em;
    border-width: 1px 1px 1px 0;
    height: $input-group-height;
  }
  .input-button {
    width: $addon-button-width;
    border-width: 1px;
    border-radius: 3px 0 0 3px;
  }
}

.input-checkbox {
  line-height: 1em;
}

.input-slider {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider-button {
  font-weight: bold;
  font-size: 1.2em;
  height: $slider-button-size;
  width: $slider-button-size;
  margin-right: $margin / 2;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.input-select {
  border: 1px solid;
  border-color: rgba($accent-color, 0.8);
  border-radius: 0;
  background: $background-color;
  width: $share-width;
  padding: $padding / 4;
  height: $input-height;
}
