// Input Range Resets
input[type=range]::-ms-track {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range] {
  width: 100%;
  height: 20px;
  -webkit-appearance: none;
  position: absolute;
  margin: -7px 0 0 0;
  padding: 0px;
  border: 0 none;
  color: transparent;
  overflow: visible;
  background: transparent;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

input[type=range]:focus {
  outline: none;
}

/* Make the thumbs the same size as your custom sliderthumb. They will not be visible but they will be draggable. */
input[type=range]::-ms-thumb {
  height: 14px;
  width: 4px;

  cursor: pointer;

  margin: -2px 0 0 -4px;

  border-radius: 0px;
  border: 0 none;

  background: transparent;

  z-index: 99;
}

input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 4px;

  margin: -2px 0 0 -4px;

  border-radius: 0px;
  border: 0 none;

  background: transparent;

  cursor: pointer;
  z-index: 99;
}

input[type=range]::-webkit-slider-thumb {
  height: 14px;
  width: 4px;

  margin: -15px 0 0 0;

  border-radius: 0px;
  border: 0 none;

  background: transparent;
  -webkit-appearance: none;

  cursor: pointer;
  z-index: 99;
}


/* Eliminate the default appearance and tooltip behaviour that is peculiar to IE and Edge. */
input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

input[type=range]::-ms-tooltip {
  display: none;
}
