@import 'variables';
$button-size: 60px;

.channel-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: $margin / 2;
  cursor: pointer;
  opacity: 1;

  .channel-icon {
    width: $button-size;
    height: $button-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid transparent;
  }

  &.active .channel-icon {
    border-color: currentColor;
  }

  &:hover {
    opacity: 0.8;
  }
}
