@import 'variables';

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marquee {
  transform: translateX(0);
  animation: stop-and-scroll 15s linear infinite;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.seperator {
  border-bottom: 1px dashed rgba($accent-color, 0.2);
  padding-bottom: $padding * 2;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;

  &.column {
    flex-direction: column;
  }
}

.spaced {
  display: flex;
  justify-content: space-between;
}
