// alignments
$margin: 15px;
$padding: 15px;

// animations
$animation-duration: 300ms;

// dimensions
$width-xs: 250px;
$width-s: 320px;
$width-m: 375px;
$width-l: 600px;
$width-xl: 768px;

// colors
$accent-color: #000;
$tabs-background: #fff;


// heights
$tabs-header-height: 35px;
$tabs-body-max-height: 400px;
