// alignments
$margin: 1em;
$padding: 1em;

// animations
$animation-duration: 300ms;

// dimensions
$width-xs: 250px;
$width-s: 320px;
$width-m: 375px;
$width-l: 590px;
$width-xl: 768px;

// colors
$accent-color: #000;
$background-color: #fff;
$overlay-color: #32424C;

// heights
$tabs-header-height: 35px;
$tabs-body-max-height: 550px;
$player-height: 135px;
$progress-bar-height: 50px;
