// alignments
$margin: 1em;
$padding: 1em;

// animations
$animation-duration: 300ms;

// dimensions
$width-xs: 250px;
$width-s: 320px;
$width-m: 375px;
$width-l: 590px;
$width-xl: 768px;

// colors
$accent-color: #000;
$background-color: #fff;
$overlay-color: #32424C;
$subtile-color: rgba(0, 0, 0, 0.2);
$search-highlight-color: #ff0;

// Sizes
$tabs-header-height: 35px;
$tabs-body-max-height: 575px;
$player-height: 135px;
$progress-bar-height: 50px;
$addon-button-width: 80px;
$content-option-width: 175px;
$button-width: 50px;
$slider-height: 44px;
$index-width: 40px;

// Header
$poster-size: 100px;
$description-height: 100px;

// Progress
$progress-height: 44px;
$progress-track-height: 2px;
$progress-thumb-height: 14px;
$progress-thumb-width: 6px;
$progress-thumb-active-height: 18px;
$progress-thumb-active-width: 8px;

$timer-width: 80px;
$timer-height: 20px;

$content-meta-height: 75px;
$share-embed-width: 250px;

$download-episode-poster-size: 200px;
$download-interaction-size: 200px;

$info-cover-width: 175px;
$info-speaker-avatar-size: 50px;

$transcripts-height: 50px;

// levels
$tab-shadow: 100;
$overlay-level: 110;

// Inputs
$range-input-height: 44px;
$thumb-width-desktop: 25px;
$thumb-width-desktop-hover: 25px;
$thumb-width-mobile: 44px;
$input-height: 35px;
$mute-control-width: 60px;
$input-state-width: 60px;
$input-value-width: 30px;

// Transcripts
$transcripts-header-height: 50px;
$transcripts-header-element-height: 25px;
$transcripts-search-navigation-width: 120px;

// Files
$files-actions-width: 150px;
$files-icon-width: 32px;
