body {
    background: #ffffff;
    font-family:  'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}

/* player */

.podlove-player-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.podlove-player-wrapper iframe {
  width: 1px;
  min-width: 100%;
}

h1 {
    color: #0E116C;
    font-size: 29px;
    width: 85%;
}

a {
    text-decoration: none;
}
