//
// Blue Orange Color Scheme
// --------------------------------------------------

$theme: (
    player-base:     #101356,
    player-contrast: #d7d7d7,
    meta-base:       #fff,
    meta-contrast:   #101356,
    accent-base:     #f17734,
    accent-contrast: #fff
);
