//
// Dark Gray Theme
// --------------------------------------------------

$theme: (
    player-base:     #262626,
    player-contrast: #fff,
    meta-base:       #262626,
    meta-contrast:   #d8d8d8,
    accent-base:     #a5b8c3,
    accent-contrast: #262626
);
