//
// Jungle Green Slate Theme
// --------------------------------------------------

$theme: (
    player-base:     #243743,
    player-contrast: #FAFAFA,
    meta-base:       #b1bec7,
    meta-contrast:   #243743,
    accent-base:     #28B78D,
    accent-contrast: #FAFAFA
);
