@import 'global';
@import 'font';
@import 'theme';

.podlove {
  display: block;

  @include roboto-font();

  // First draft
  width: $xl-width;
  height: auto;
  box-shadow: 0 0 5px $shadow-color;
}
