//
// Module 'Chapters'
// --------------------------------------------------

.chapters {
  height: auto;
  transition: all 0.5s;

  .podlovewebplayer_chapters {
    width: 100%;
    border-collapse: collapse;
    thead,
    caption {
      display: none
    }
    tr {
      cursor: pointer;
      height: 46px;

      .chapter-number {
        padding-left: $padding-small-horizontal;
        text-align: right;
        width: 20px;

        @media screen and (min-width: $screen-phone) {
          padding-left: $padding-base-horizontal - 2px;
          width: 48px;
        }
        @media screen and (min-width: $screen-desktop) {
          padding-left: $padding-base-horizontal;
          width: 50px;
        }
      }

      &:hover {
        background: $chapter-hover-color;
        .badge  {
          color: $white;
          background-color: $accent-base-color;
        }
        .chapter-duration span {
          color: $meta-contrast-color;
          font-weight: $font-weight-bold;
        }
      }

      &.active,
      &.active:hover
      &.active:focus {
        background: $chapter-active-color;
        .badge {
          background-color: $accent-base-color;
          color: $white;
        }
        .chapter-duration span {
          color: $meta-contrast-color;
          font-weight: $font-weight-bold;
        }
      }

      &.chapter:active {
        background: $chapter-active-color;
      }
      td {
        padding: 0 5px;
        vertical-align: middle;
        cursor: pointer !important;
        a {
          color: $accent-link-color;
          text-decoration: none;
        }
      }
      .chapter-name span {
        font-weight: 500;
      }
      .title {
        padding-top: 7px;
      }
      .chapter-duration {
        font-family: $font-family-monospace;
        font-size: $font-size-small;
        white-space: nowrap;
        text-align: right;
        color: $accent-base-color;
        padding-right: $padding-small-horizontal;
        @media all and (min-width: $screen-phone) {
          padding-right: $padding-base-horizontal - 2px;
        }
        @media all and (min-width: $screen-tablet) {
          font-size: $font-size-base;
        }
      }
    }
  }
}

.chapter-name a {
  padding-left: 0.02em;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal !important;
  text-transform: none !important;
}
