//
// Module 'Info'
// --------------------------------------------------

.info {
  .main {
    @include flex(1 100%);
    @include order(1);
  }
  aside {
    @include flex(1 100%);
    @include order(2);
  }
  // The aside element will move under the section (.main) element
  @media all and (min-width: $screen-phone) {
    .aside {
      @include flex(1 0px);
      margin-top: $margin-base-vertical;
    }
  }
  // The aside element will move next to the section (.main) element
  @media all and (min-width: $screen-tablet-portrait) {
    .main   {
      @include flex(2 0px);
      @include order(1);
    }
    aside   {
      @include order(2);
      // Top offset for fixed tab-header
      margin-top: $tab-header-height !important;
    }
    footer  {
      @include order(3);
    }
  }
  //*** Image of the show
  // Container for image
  .poster-image {
    margin: $margin-small-vertical $margin-base-horizontal 16px;
    @media all and (max-width: $screen-phone) {
      margin: $margin-small-horizontal;
    }
    img {
      width: 100%;
      max-width: $info-image-width;
    }
  }
  footer {
    padding: 0 !important;
    p {
      padding: $padding-large-vertical 0;
    }
  }
}

// Button to subcribe to the show
.button-submit {
  height: auto;
  margin: 5px $margin-base-horizontal;
  max-width: $info-image-width;
}

// Top labeltext line of subscribe button
.showtitle-label {
  display: inline-block;
  font-size: $font-size-button-small-label;
}

// Bottom labeltext line of subscribe button
.submit-label {
  vertical-align: super;
  line-height: 1px;
}
