//
// Module 'Share'
// --------------------------------------------------

$button-width: $share-image-width + ($share-image-border-width * 2);

.tabs {
  .share {
    .main {
      // Top offset for fixed tab-header
      margin: $tab-header-height 0 $margin-base-vertical 0;
      @media all and (max-width: $screen-phone) {
        margin: $tab-header-height 0 $margin-small-vertical 0;
      }
    }

    .share-button-wrapper {
      width: 100%;

      caption {
        display: none;
      }

      .share-select-option {
        width: 100%;
        cursor: pointer;
        height: 46px;

        td {
          padding: 0 5px;
          vertical-align: middle;
        }
      }
      .share-description {
        text-align: right;
        width: 15vw;
      }
      .share-label {
        width: 80vw;
        > label {
          text-align: left;
          font-weight: 500;
        }
      }
      .share-radio {
        text-align: center;
        padding-right: $padding-base-horizontal;
        width: 5vw;
      }
      @media all and (max-width: $screen-phone) {
        td.share-radio {
          padding: $padding-small-vertical $padding-small-horizontal !important;
        }
      }
      @media all and (max-width: $screen-tablet) {
        .share-description {
          display: none;
        }
        .share-label {
          width: 100vw;
          > label {
            text-align: left;
            font-weight: 500;
          }
        }
        td.share-radio {
          padding: $padding-small-vertical $padding-base-horizontal;
        }
      }
    }

    form {
      margin-bottom: $margin-base-horizontal;
      > h3 {
        margin: 0 $margin-base-horizontal $margin-small-horizontal $margin-base-horizontal;
        @media all and (max-width: $screen-phone) {
          margin: 0 $margin-small-horizontal $margin-small-horizontal $margin-small-horizontal;
        }
      }
    }

    @media screen and (max-width: $button-width * 2 + ($margin-base-horizontal * 2)) {
      .share-button-wrapper {
       width: 100%;
      }
      .button-container {
        display: block;
      }
    }

    ul {
      margin: 0 0 $margin-small-horizontal 0;
      @media screen and (min-width: $screen-desktop) {
        margin: 0 0 32px 0;
      }
    }
    span {
      padding: $padding-small-vertical $padding-small-horizontal;
    }
  }
}

.social-network-buttons {
  text-align: center;
  padding: 0 $padding-small-horizontal;
  @media screen and (min-width: $screen-phone){
    padding: 0 $padding-base-horizontal;
  }
  > li {
    display: inline-block;
    width: $font-size-social-icons + 13px;
    margin: 0 $margin-small-horizontal 0 0;
    &:last-of-type {
      margin-right: 0;
    }
    @media screen and (min-width: $screen-tablet-portrait) {
      width: $font-size-social-icons + 22px;
      margin: 0 $margin-small-horizontal 0 0;
    }
    @media screen and (min-width: $screen-desktop) {
      width: $font-size-social-icons + 27px;
      margin: 0 $margin-base-horizontal 0 0;
    }
    @media screen and (min-width: $screen-lg-desktop) {
      margin: 0 40px 0 0;
    }

    &.last-of-type {
      margin-right: 0;
    }
    span {
      display: block;
      text-align: center;
    }
  }
}

.share-select-option {
  width: 50%;
  background-image: none;
  padding: 0;
  background-color: $meta-base-color;
  cursor: pointer;
  @media screen and (min-width: $screen-phone) {
  width: $button-width;
    &:first-of-type {
      margin-right: $margin-base-vertical;
    }
  }

  &:hover {
    background-color: $accent-link-hover;
  }
  &:active {
    background-color: $accent-link-active;
  }
  &:focus,
  &.selected {
    background-color: $accent-base-color;
  }
  &:hover,
  &:active,
  &:focus,
  &.selected {
    color: $accent-contrast-color;
  }
}
